<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.module.scaladesigner.impl.ScalaDesignerModule" binaryversion="3.4.01" version="${project.version}" schema-level="2" uid="4dbfa029-f7e1-44d3-bb7c-d0399b0574f3">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/javassist-3.19.0-GA.jar"/>
        <PathEntry path="lib/reflections-0.9.10.jar"/>
        <PathEntry path="lib/xmlreverse-3.0.13.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
        <PathEntry path="lib/commons-io-2.4.jar"/>
        <PathEntry path="lib/guava-19.0.jar"/>
        <PathEntry path="lib/scala-ast-parser-0.9.3.jar"/>
        <PathEntry path="lib/slf4j-api-1.7.13.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="2a24a8f8-de64-423c-86f1-e4b6070713a3" id="ScalaExtensions">
            <Stereotype name="ScalaPackage" metaclass="Package" is-hidden="false" label="Scala package" uid="a950734f-d6d8-42f4-b8bc-791addf66867">
                <Icon path="res/png/ScalaPackage.png"/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaClass" metaclass="Class" is-hidden="false" label="Scala class" uid="75a8cf5a-0190-4f44-80c8-74cff64f7054">
                <Icon path="res/png/ScalaClass.png"/>
                <Image path="res/png/ScalaClass_2x.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaObject" metaclass="Class" is-hidden="false" label="Scala object" uid="d0c442d6-69dd-43f5-b652-0d3ef5c28201">
                <Icon path="res/png/ScalaObject.png"/>
                <Image path="res/png/ScalaObject_2x.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaTrait" metaclass="Class" is-hidden="false" label="Scala trait" uid="1108c1fb-4fb9-4fa0-a7dc-8b133513b7e5">
                <Icon path="res/png/ScalaTrait.png"/>
                <Image path="res/png/ScalaTrait_2x.png"/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaCaseClass" metaclass="DataType" is-hidden="false" label="Scala case class" uid="fa33411e-88d0-4b9a-9482-0c7bddfc39c5">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaVisibility" metaclass="Constraint" is-hidden="false" label="Visibility" uid="76316380-2a8f-40b0-91bb-dbca6306eb9f">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaExtends" metaclass="Dependency" is-hidden="false" label="extends" uid="95a9b32a-a8ea-42a4-8b9f-2a494f86f05e">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaExtends" metaclass="Generalization" is-hidden="false" label="extends" uid="4b75f5f5-20d8-4c78-8318-2e6deeae54d9">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaMixin" metaclass="Dependency" is-hidden="false" label="mixin" uid="6bd8eb58-dc63-41c8-aa72-e929afc7306d">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <Stereotype name="ScalaMixin" metaclass="Generalization" is-hidden="false" label="mixin" uid="3b8e4183-f018-4896-a53b-ac13565961cd">
                <Icon path=""/>
                <Image path=""/>
                <TagTypes/>
            </Stereotype>
            <MetaclassReference uid="05039ad7-8443-420f-958e-02a76d1ffd95" metaclass="Attribute">
                <TagTypes>
                    <TagType name="ScalaLazy" uid="5a2b1d75-cc12-4e8f-a059-1376821960f2" label="Lazy" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaImplicit" uid="f2c074f0-c70a-44e3-90d6-1d58e1d4194c" label="Implicit" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaFinal" uid="9f62f2c7-ac17-44f5-86f5-842d5d7d4b8e" label="Final" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaOverride" uid="39cf820b-ea0d-4b3f-9fd8-89a7457d790b" label="Override" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaMutable" uid="64d3a1bb-58bd-47ba-9153-b54ebaa3e4f0" label="Mutable" parameter-card="0" is-hidden="false" is-signed="true"/>
                </TagTypes>
            </MetaclassReference>
            <MetaclassReference uid="381a184a-df92-4748-a943-7c2b83526419" metaclass="Operation">
                <TagTypes>
                    <TagType name="ScalaFinal" uid="903aeab3-b427-4e68-a00b-258a3b5a32b8" label="Final" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaImplicit" uid="132b3677-e40a-406e-be6c-869c67473df0" label="Implicit" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaOverride" uid="fc7d1428-e16a-4e2c-a958-63b3c1e0cd1c" label="Override" parameter-card="0" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
            <MetaclassReference uid="f6b9b77a-5536-4176-a298-e77b2bb9c145" metaclass="Parameter">
                <TagTypes>
                    <TagType name="ScalaImplicit" uid="ec23faad-7b8c-4c24-b26c-46ad655ca9a3" label="Implicit" parameter-card="0" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
            <MetaclassReference uid="d53ffa3c-c6bf-4bad-8f2c-77b282561859" metaclass="Class">
                <TagTypes>
                    <TagType name="ScalaFinal" uid="91d6d4d0-fe1e-4b24-95e4-0c24bd32731c" label="Final" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaSealed" uid="7ebf294d-bf22-4092-b6c8-b13e49b821e6" label="Sealed" parameter-card="0" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </MetaclassReference>
            <MetaclassReference uid="0ee6d917-df1f-41cd-ac7a-7137eca5f423" metaclass="TemplateParameter">
                <TagTypes>
                    <TagType name="ScalaCovariant" uid="2a2b3a12-dc0f-46ef-9ded-76a58a677e38" label="Covariant" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaContravariant" uid="479561a4-c34b-486e-b003-5f12aabca19a" label="Contravariant" parameter-card="0" is-hidden="false" is-signed="false"/>
                    <TagType name="ScalaLowerTypeBound" uid="f0429d65-69f9-49a5-8147-91da41bc7345" label="Lower type bound" parameter-card="1" is-hidden="false"/>
                    <TagType name="ScalaUpperTypeBound" uid="67a60ce8-7aea-404c-9f62-e5dcfed443e8" label="Upper type bound" parameter-card="1" is-hidden="false"/>
                </TagTypes>
            </MetaclassReference>
        </Profile>
    </Profiles>
    <Parameters>
        <Parameter id="ScalaSources" uid="379f6bf8-fc59-44aa-bbc6-290360257cb9"/>
        <Parameter id="ScalaCompiler" uid="fcba883f-2ff7-4aa4-a4ee-e305e0017f81"/>
    </Parameters>
    <Gui>
        <Commands>
            <Command id="HelloWorldCommand" label="%HelloWorldCommandLabel" tooltip="%HelloWorldCommandTooltip" image="res/icons/HelloWorldCommand_16.png" group="" modify-model="false" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="org.modelio.module.scaladesigner.command.HelloWorldCommand"/>
            </Command>
            <Command id="CreateElementCommandExample" label="%CreateElementCommandExampleLabel" tooltip="%CreateElementCommandExampleTooltip" image="res/icons/Stereotype1_16.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="ElementCreate">
                    <HParameter name="name" value="%CreateElementCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                </Handler>
            </Command>
            <Command id="CreateDiagramCommandExample" label="%CreateDiagramCommandExampleLabel" tooltip="%CreateDiagramCommandExampleTooltip" image="res/icons/Stereotype2_16.png" group="" modify-model="true" group-image="">
                <Scope metaclass="ModelTree"/>
                <Handler class="DiagramCreate">
                    <HParameter name="name" value="%CreateDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="ClassDiagram"/>
                </Handler>
            </Command>
            <Command id="ReverseSources" label="%ReverseSources.label" tooltip="%ReverseSources.tooltip" image="res/png/revsources.png" group="%ReverseSources.group" modify-model="true" group-image="%ReverseSources.groupimage">
                <Scope metaclass="NameSpace"/>
                <Handler class="org.modelio.module.scaladesigner.command.ReverseSources"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="CreateElementDiagramCommandExample" label="%CreateElementDiagramCommandExampleLabel" tooltip="%CreateElementDiagramCommandExampleTooltip" image="res/icons/Stereotype1_16.png">
                <Scope-source metaclass="ModelTree"/>
                <Handler class="Box">
                    <HParameter name="name" value="%CreateElementDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="HelloWorldCommand"/>
            <CommandRef refid="CreateElementCommandExample"/>
            <CommandRef refid="CreateDiagramCommandExample"/>
            <CommandRef refid="ReverseSources"/>
        </ContextualMenu>
        <Views/>
    </Gui>
    <Dependencies/>
</Module>
